<!--
<style type="text/css">

.palm-button-wrapper {
  margin: 0 -17px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.palm-button-wrapper.left {
	text-align: left;
}

/* standard button */

.palm-button,
#palm-dialog-box .palm-button {
  clear: both;
  margin: 5px 6px 5px 6px;
  height: 52px;
  padding: 0;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  line-height: 52px;
  background: none;
  border-width: 0 17px;
  -webkit-box-sizing: border-box;
  -webkit-border-image: url(images/palm-button-medium.png) 0 17 104 17 repeat repeat;
}

#palm-dialog-box .palm-button {
  margin: 3px 0 0 0;
}

.palm-button.selected.primary,
.palm-button.selected,
#palm-dialog-box .palm-button.selected.primary,
#palm-dialog-box .palm-button.selected {
  -webkit-border-image: url(images/palm-button-medium.png) 52 17 52 17 repeat repeat;
}

.palm-button.disabled.primary,
.palm-button.disabled,
#palm-dialog-box .palm-button.disabled.primary,
#palm-dialog-box .palm-button.disabled {
  -webkit-border-image: url(images/palm-button-medium.png) 104 17 0 17 repeat repeat;
}

</style>
-->